<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Flask Tutorials</title>
</head>
<body>
    <h1>About Page</h1>
    <form method="POST" action="/about">
        
        {% if data.name %}
            <h1>Hello {{ data.name.title() }}</h1>
        {% else %}
            <p>Hello </p>
            <h2>{{data}}</h2>
        {% endif %}
    
    </form>
    
</body>
</html>